*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formContainer{
    width: 200px;
    margin: 0 auto;
    color: black;

}

#description{
    width: 200px;
    height: 150px;
}

#submitBtn{
    margin-top: 20px;
    float: right;
}