.movieContainer {
  margin: 2rem 0;
}

.movieContainer img {
  width: 100%;
  display: block;
  min-height: 13rem;
}

.movieContainer h3 {
  color: greenyellow;
}

.movieContainer h4 {
  color: black;
}

.movieContainer h5 {
  color: black;
}

.movieContainer p {
  color: black;
  text-align: center;
}

.img-container {
  position: relative;
  width: 40%;
}

.tourlist {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}
