.movieContainer {
  margin: 2rem 0;
  width: 100vw;
  height: auto;
  background-color: gray;
  background: cover;

  img {
    width: 50%;
    -o-object-fit: cover !important;
    object-fit: cover;
    font-family: "object-fit: cover!important;";
    display: block;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }

  .img-container h3 {
    color: greenyellow;
    position: relative;
    top: -40px;
    padding-left: 32%;
  }
  .img-container {
    position: relative;
    width: 100%;
  }
  .img-container h4 {
    color: black;
    font-size: 50px;
    position: relative;
    top: 80px;
  }
  p {
    color: black;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h5 {
    color: black;
    position: relative;
    left: 18%;
    padding-top: 30px;
  }
  h6 {
    color: black;
    text-align: center;
    font-size: 30px;
    position: relative;
    right: 60px;
    .zoo {
      position: relative;
      left: 5%;
    }
    .foo {
      position: relative;
      left: 10%;
    }
  }

  .star {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  p {
    color: black;
    text-align: center;
  }
}
.tourlist {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}
